{% extends "encyclopedia/layout.html" %} 
{% block title %} 
Encyclopedia 
{% endblock %} 

{% block body %}

    <div>
        <h1>Create New Page</h1>
        {% if error_message %}
        <p class="text-danger">{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'wiki:newpage' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title"  value="{{ form.title }}" required>
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea class="form-control" id="content" name="content" rows="15" required>{{ form.content }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}